@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Orbitron&family=Roboto&display=swap');

$fonts-headline: "Orbitron", "Exo", arial, sans-serif;
$fonts-body: "Roboto", arial, sans-serif;
$background-color: #daede2;
$primary: #2776EA;
$accent1: #555555;
$accent2: #0598ce;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #001a33;
$text-light: #ffffff;
